<ul class="nav">
    <li class="nav-item">
        <a [routerLink]="['cart']" class="nav-link active">Cart</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/cart-view/payment']" class="nav-link">Pay</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li> -->
</ul>
<!-- <a [routerLink]="['cart']">Cart List</a> -->
<!-- <a [routerLink]="['/cart/payment']">Payment</a> -->
<div>
    <router-outlet></router-outlet>
</div>